#root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 5fr;
  gap: 8px;
  place-content: center;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
}
img {
  width: auto;
  height: 50vh;
  margin: 0 auto;
  display:inline-block;
  grid-column: 1 / 5;


}

button {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  background: linear-gradient(black, #333);
  color: whitesmoke;

}
input{
 
  padding: 10px 20px;
  grid-column:1 / 4;

}