.menu {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 2rem;
  height: 15vh;
}

.menu a {
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
} 

.menu a:hover {
  color: rgb(8, 58, 31);
}